name: WASM CI

on:
  push:
    branches: [ master ]
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches: [ master ]

jobs:
    
  create_release:

    name: Prepare release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      
    steps:
    - name: Checkout code
      if: contains(github.ref, 'release')
      uses: actions/checkout@v3
    - name: Create Release
      if: contains(github.ref, 'release')
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
    - name: Output Release URL File
      if: contains(github.ref, 'release')
      run: echo "${{ steps.create_release.outputs.upload_url }}" > release_url.txt
    - name: Save Release URL File for publish
      if: contains(github.ref, 'release')
      uses: actions/upload-artifact@v4
      with:
        name: release_url
        path: release_url.txt        

  linux_wasm_6_9_3:
  
    runs-on: ubuntu-latest
    needs: create_release
      
    strategy:
      fail-fast: false
      matrix:
        qtarch: [wasm_singlethread]
        qtversion: ['6.9.3']
        include:
          - qtarch: wasm_singlethread
            qttarget: 'wasm'
            qthost: 'all_os'
            qtmodules: ''
            additional_build_flags: '--target install'
            aqtsource: 'git+https://github.com/timangus/aqtinstall.git'

    steps:
    - uses: actions/checkout@v3
    - uses: mymindstorm/setup-emsdk@v14
    - uses: timangus/install-qt-action@deployed
    - uses: jurplel/install-qt-action@v4
      with:
        aqtsource: ${{ matrix.aqtsource }}
        # Directory to install Qt
        dir: # optional
        # Version of Qt to install
        version: '6.9.3'
        # Host platform
        host: 'linux' # optional
        # Target platform for build
        target: 'desktop'
        # Architecture for Windows/Android
        arch: wasm_32 #'wasm_32' # optional
        # Whether or not to install Qt dependencies on Linux
        install-deps: 'true'
        # Additional Qt modules to install
        modules: 'qt5compat' # 'qtscript qtscripttools' # qtcharts, qtdatavis3d, qtpurchasing, qtvirtualkeyboard, qtwebengine, qtnetworkauth, qtwebglplugin, qtscript, debug_info
        # Force a Qt mirror in case the default is not working
        mirror: # optional
        # Whether or not to actually download Qt
        cached: # optional, default is false
        # Version of aqtinstall to use in case of issues
        aqtversion: # optional, default is ==0.8
        # Version of py7zr to use in case of issues
        py7zrversion: # optional, default is ==0.6
        # Any extra arguments to append to the back
        extra: # optional
    - name: Install Qt and compile
      run: |
        em++ --version
        which em++
        echo $PATH
        #emsdk install sdk-fastcomp-1.39.8-64bit
        #emsdk activate sdk-fastcomp-1.39.8-64bit
        emsdk install 3.1.61
        emsdk activate --embedded 3.1.61
        echo $PATH
        echo $EMSDK
        . $EMSDK/emsdk_env.sh
        em++ --version
        which em++
        mkdir build
        ls -lrt
        ls -lrt ./build
        cmake -S . -B ./build -DCMAKE_BUILD_TYPE=Release
        ls -lrt
        cd ./build
        ls -lrt
        make
        ls -lrt
        zip gnuplotviewerquick_wasm_6_9_3.zip GnuplotViewerQuick.js GnuplotViewerQuick.wasm GnuplotViewerQuick.html qtlogo.svg qtloader.js
        ls -lrt
        unzip -v gnuplotviewerquick_wasm_6_9_3.zip
        pwd
    # this step is added for the release    
    - name: Upload Release Asset
      if: contains(github.ref, 'release')
      id: upload-release-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
        asset_path: gnuplotviewerquick_wasm_6_9_3.zip
        asset_name: gnuplotviewerquick_wasm_6_9_3.zip
        asset_content_type: application/zip
